# EditorConfig is awesome: https://EditorConfig.org

# top-most EditorConfig file
root = true

# All files
[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

# Code files
[*.{cs,csx,razor,cshtml}]
charset = utf-8-bom
indent_style = space
indent_size = 4

# Razor files
[*.razor]
charset = utf-8-bom
indent_style = space
indent_size = 4

# JSON files
[*.json]
charset = utf-8
indent_style = space
indent_size = 2

# XML files
[*.{csproj,props,targets}]
charset = utf-8
indent_style = space
indent_size = 2

# Markdown files
[*.md]
charset = utf-8
trim_trailing_whitespace = false
