# Auto detect text files and perform LF normalization
* text=auto

# Source code
*.cs     text diff=csharp encoding=utf-8
*.razor  text encoding=utf-8
*.cshtml text encoding=utf-8
*.csproj text encoding=utf-8

# Documentation
*.md     text encoding=utf-8
*.txt    text encoding=utf-8

# Scripts
*.sh   text eol=lf
*.ps1    text eol=crlf

# Binary files
*.dll binary
*.exe binary
*.png binary
*.jpg binary
*.gif binary
*.ico binary
*.woff binary
*.woff2 binary
*.ttf binary
*.eot binary
